@import './normalize.css';

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Typography */

html {
	font-size: 62.5%;
}

/* Images */
img {
	width: 100%;
}

/* Links */

a {
	text-decoration: none;
}
